*

!.github
!.github/**
!plugins/**
!plugins
!docs
!docs/**
!src
!src/**
!.dockerignore
!.gitignore
!constants.js
!Dockerfile
!LICENSE
!package.json
!README.md
!config.default.ts 
!biome.json
!.husky
!.husky/**
!commitlint.config.mjs
!.gitmessage
!docker-compose.yml
!scripts
!scripts/**
!tsconfig.json
!dist
!dist/**
